$padding-top-header: 10rem;

div.top-header {
    position: fixed;
    background-color: rgb(0, 0, 0);
    height: 30px;
    width: 100%;
    z-index: 998;
    display: flex;
    flex-direction: row-reverse;
    padding-left: $padding-top-header;
    padding-right: $padding-top-header;
    gap: 5rem;
    align-items: center;

    .links > a {
        color: white;
        margin-left: .5rem;
        margin-right: .5rem;
    }
}

header {
    height: 110px !important;

    &>nav.navbar {
        z-index: 999 !important;
        height: 80px !important;
        background-color: #262626 !important;
        position: fixed !important;
        margin-top: 30px !important;
        width: 100% !important;
    }

    .navbar {
        justify-content: space-evenly;
    }

    .nav {
        .nav-link > a {
            color: #9e9e9e;
            font-size: 20px !important;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;
            text-decoration: none;

            &:hover {
                color: #efefef;
            }
        }
    }

    .main-logo {
        width: 250px;
        height: 100px;
        color: transparent;
        text-decoration: none;
        position: relative;
        top: 1.54em;
    }

    .active {
        border-bottom: 5px solid #af0c00;
        color: #efefef !important;
        font-weight: bold !important;
    }

    .navbar-collapse {
        background-color: #262626 !important;
    }

    div[aria-labelledby="logoutDropdown"] {
        left: auto !important;
        right: 0 !important;
    }

    a[href="/logout"] {
        color: #af0c00;
    }
}